*,
*::before,
*::after {
    border-width: 0;
    border-style: solid;
}

img {
    border-style: solid;
}

textarea {
    resize: vertical;
}

img {
    max-width: 100%;
    height: auto;
}

button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
}

input::placeholder,
textarea::placeholder {
    color: inherit;
    opacity: 0.5;
}

button,
[role="button"] {
    cursor: pointer;
}

table {
    border-collapse: collapse;
}
